<body>
  <!--入会金0円  平日:17時～23時 土日祝：営業時間全て 営業時間内で終日ご利用可能なプラン-->
  <!-- 入会金5000円 平日：営業時間全て 土日祝：営業時間全て フルに使いたい方のためのプレミアムなプラン-->
  <!-- <div class="message">
        <h1>ライフスタイルに合わせて選べる多彩なプラン。</h1>
        <h2>平日のみのプラン、仕事帰りをコアタイムとした夕方以降が中心のプラン、休日をメインとしたプランなど、<br>多彩なプランの中からそれぞれのお客様のライフスタイルに合わせてお選びいただけます。<br>ビジター料金でのご利用も可能ですので、月額会員登録の前に体験をしたいという方もぜひご利用ください。</h2>
    </div> -->
  <div class="plan">
    <div class="each-plan">
      <div class="plan-name color-1">プランテキスト</div>
      <div class="plan-price">
        <div class="each-price">
          <div class="plan-yen">￥</div>
          <div class="plan-nedan">5,000</div>
        </div>
        <div class="plan-getsugaku">月額</div>
      </div>
      <div class="plan-menu menu-1">入会金0円</div>
      <div class="plan-menu menu-1">平日:9時～17時</div>
      <div class="plan-menu menu-1">土日祝：利用ナシ</div>
      <div class="plan-menu menu-2">コアタイムでの利用に最適な<br />プラン</div>
    </div>
    <div class="each-plan">
      <div class="plan-name color-1">プランテキスト</div>
      <div class="plan-price">
        <div class="each-price">
          <div class="plan-yen">￥</div>
          <div class="plan-nedan">5,000</div>
        </div>
        <div class="plan-getsugaku">月額</div>
      </div>
      <div class="plan-menu menu-1">入会金0円</div>
      <div class="plan-menu menu-1">平日:9時～17時</div>
      <div class="plan-menu menu-1">土日祝：利用ナシ</div>
      <div class="plan-menu menu-2">コアタイムでの利用に最適な<br />プラン</div>
    </div>
    <!-- この塊が3つの予定 -->
  </div>
</body>
