<body>
    //molecules-message入れる
    <div class="plan-frame pattern-1">
        <div class="text-wrap--margin_old">
        
        </div>
        <div class="text-wrap--margin_old"> //要素が3つ入ってる
    
        </div>
    
        </a>
        <a href="#" class="atoms-plan">入会金0円</a>
        <a href="#" class="atoms-planya">平日:9時～17時</a>
        <a href="#" class="atoms-plan">土日祝：利用ナシ</a>
        <a href="#" class="atoms-plan">コアタイムでの利用に最適なプラン</a>
    </div>
    <div class="plan-frame pattern-2">
        <div class="text-wrap--margin_old">

        </div>
        <div class="text-wrap--margin_old"> //要素が3つ入ってる
    
        </div>
    
        </a>
        <a href="#" class="atoms-plan">入会金0円</a>
        <a href="#" class="atoms-plan">平日:17時～23時</a>
        <a href="#" class="atoms-plan">土日祝：営業時間全て</a>
        <a href="#" class="atoms-plan">営業時間内で終日ご利用可能なプラン</a>
    </div>
    <div class="plan-frame pattern-1">
        <div class="text-wrap--margin_old">

        </div>
        <div class="text-wrap--margin_old"> //要素が3つ入ってる
    
        </div>
    
        </a>
        <a href="#" class="atoms-plan">入会金5000円</a>
        <a href="#" class="atoms-plan">平日：営業時間全て</a>
        <a href="#" class="atoms-plan">土日祝：営業時間全て</a>
        <a href="#" class="atoms-plan">フルに使いたい方のためのプレミアムなプラン</a>
    </div>
    <div class="button">//buttonのところで名前変更すべし
        プラン料金
    </div>
</body>