@use "../../variables" as *;
//for 並べ替え
.plan {
  display: flex;
  //flex-direction: column;
  //@media screen and (min-width: $breakpoint-md) {
  flex-direction: row;
  //}
}
//for 縦横の余白
/*margin-bottom: 24px;
    padding: 0px;
    @media screen and (min-width: $breakpoint-md) {
      margin-bottom: 0px;
      margin-right: auto;
    }*/

.each-plan {
  //本当は、周りにborderを付けたくないが、どうすれば「コアタイム」のところを引き延ばせるか
  //border: 1px solid $gray_gainsboro;
  // justify-content: space-between;
  .plan-menu {
    text-align: center;
    padding: 20px; //20px 0px

    color: $black;
    font-size: $fontsize-s;
    border-top: 1px solid $gray_gainsboro;
    list-style: none;
  }
  &:nth-child(2n + 1) {
    .plan-name {
      text-align: center;
      padding: 18px 31px;
      margin-bottom: 0px;
      color: $white;
      font-size: $fontsize-m;
      font-weight: bold;
      background-color: $orange_zorba;
    }
  }
  &:nth-child(2n) {
    //margin: 34px 0px;
    .plan-name {
      text-align: center;
      margin: 0px;
      padding: 16px 31px; //17px 20px
      color: $white;
      font-size: $fontsize-m;
      font-weight: bold;
      background-color: $orange_bistre;
    }
    border: 5px solid $orange_bistre;
    box-sizing: border-box;
    .plan-menu {
      &:last-child {
        padding: 20px 10px 15px;
      }
    }
  }
  .plan-body {
    border: 1px solid $gray_gainsboro;
    margin: 0px;
    padding: 0px;
    & > .plan-price {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      //height: 142px;
      padding: 24px 0px;
      background-color: $gray_desertStorm;
      & > .each-price {
        color: $orange_bistre;
        font-size: $fontsize-xxl;
        font-weight: bolder;
        &::before {
          content: "￥";
          font-size: $fontsize-s;
        }
      }
    }
    & > .plan-getsugaku {
      color: $black;
      font-size: $fontsize-xs;
    }
  }
}
//}

//molecules-messageから持ってくる
//CSS Dinerのnth childを使うこと！→p要素の場合、p:nth-child(2n+1)と(2n)にしてbackground-color変える
/*.message{
    color:$white; //これはデタラメ
}
//h1とh2のフォントサイズはmolecules-messageの通り
.h1{
    color: $orange_bistre;
    font-family: $fontfamily-mincho;
    font-size: $fontsize-l;
}
.h2{
    color: $black;
    font-size: $fontsize-s;
}

}
*/
