@use "../../variables" as *;
//@use "../../button.scss" as *;
/*BootstrapのCardを使う*/
/*基本縦並びで、breakpointが来たら横並びになる、縦長な感じ*/
.button {
  display: flex;
  // position:absolute;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 55px;
  color: $white;
  font-size: $fontsize-s;
  background-color: $black;
  transition: background-color 0.2s;
  //&が親要素を指す
  &:hover {
    color: $white;
    background-color: $orange_bistre;
    text-decoration: none;
  }
}
.card-upper {
  overflow: hidden;
  & > img {
    width: 100%;
    transition: 0.5s;
    transition-timing-function: ease;
  }
  @media screen and (min-width: $breakpoint-md) {
    &:hover > img {
      transform: scale(1.2, 1.2);
    }
  }
}
.triangle {
  top: 0px;
  width: 0px;
  border-bottom: 150px solid transparent;
  border-left: 150px solid $white; /* ラベルの色はここで変更 */
  position: absolute;
}
.card-title {
  display: flex;
  position: absolute;
  top: 0px;
  left: 4px;
  font-size: $fontsize-l;
  font-weight: bold;
  color: $orange_bistre;
}
.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: $white_smoke;
  padding: 32px 46px;
}
.card-text {
  font-size: $fontsize-xs;
  margin-bottom: 30px;
}
