<body>
    <!-- まずは1枚作ってから、全体をメディアクエリで表示し直す、感じ -->
    <div class="three-card">
    <div class="card">
        <!-- 重ねるやつ 、たぶん写真が重なっちゃってる-->
        <img src="./name=concept.png" class="card-upper">
        </img>
        <div class="card-title">
            CONCEPT
        </div>    
        <div class="card-body">
            <div class="card-text">
                「本屋」でも「自習室」でもない、新しい空間。それがこのカフェ＆コワークングです。お好きなドリンクを飲みながらゆったりと気兼ねなく勉強や仕事に取り組んでいただけます。
            </div>
            <div class="button">
                コンセプト
            </div>
        </div>
    </div>
    </div>
</body>