<body>
    <div class="card">
        <div class="card-upper">
            <img src="./name=concept.png"> </img>
        </div>
        <div class="triangle"></div>
        <div class="card-title">CONCEPT</div>
        <div class="card-body">
            <div class="card-text">
                「本屋」でも「自習室」でもない、新しい空間。それがこのカフェ＆コワーキングです。<br>お好きなドリンクを飲みながらゆったりと気兼ねなく勉強や仕事に取り組んでいただけます。
            </div>
            <a href="#" class="button">コンセプト</a>
        </div>
    </div>
</body>
<!-- 写真のサイズがでかい？文字が占める割合が大きくない？文字とボタンの間が空いていない -->
<!-- Fill/Hugの書き分け -->
<!-- 外側の白枠はいる？ -->
