@use "../../variables" as *;
.dropdown {
  display: flex;
  justify-content: space-between;
  background-color: $black;
  color: $white;
  padding: 0px 16px;
  border: 1px solid $black;
  & > .header-top {
    // &>.switch{
    //     @media screen and (min-width:$breakpoint-lg){

    //     }
    // } //基本この中にスマホ版を入れるつもり
    & > .is-hidden {
      display: none;
      //buttonの見かけを上書きする
    }
  }
  & > .dropdown-menu {
    color: $white;
    background-color: $black;
    padding: 15px 0px;
    text-align: left;

    //display: block;
    & > .dropdown-text {
      color: $white;
    }
  }
  & > .concept-ver {
    padding: 0px 12px;
  }
}
