<div class="dropdown">
    <head class="header-top">
        <a href="#"><img src="./image 1.png"></img></a>
        <button class="button btn-drop-down">
            button<span class="visually-hidden"></span>
        </button>
    </head>
    <ul class="dropdown-menu">
        <li><a href="#">HOME</a></li>
        <li><a href="#">CONCEPT</a></li>
        <li><a href="#">SERVICE</a></li>
        <li><a href="#">FLOOR</a></li>
        <li><a href="#">INTERVIEW</a></li>
        <li><a href="#">BLOG</a></li>
        <li><a href="#">ACCESS</a></li>
        <li><a href="#">DOWNLOAD</a></li>
    </ul>
</div>

<!-- <div class="dropdown">
  <button
    class="btn btn-default dropdown-toggle"
    type="button"
    id="dropdownMenu1"
    data-toggle="dropdown"
    aria-haspopup="true"
    aria-expanded="true"
  >
    Dropdown
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li><a href="#">Action</a></li>
    <li><a href="#">Another action</a></li>
    <li><a href="#">Something else here</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="#">Separated link</a></li>
  </ul>
</div> -->
