@use "../../variables" as *;
.navbar {
  display: flex;
  justify-content: space-between;
}
.navbar-back {
  background-color: $black;
  padding: 33px 30px;
  @media screen and (min-width: $breakpoint-lg) {
    background-color: $gray_nobel;
  }
}
// .nav-link .header-concept .navbar-back-concept {
//   @media screen and (min-width: $breakpoint-md) {
//     margin-left: 0px;
//     //display: none;
//   }
// }
.line-concept {
  display: flex;
  justify-content: space-between;
  .header-plus-icon {
    display: block;
  }
}
//本当はhoverしないときにしまう、hoverしたら出る
.nav-item .active {
  @media screen and (min-width: $breakpoint-md) {
    //display: none;
  }
}
.navbar-concept-more {
  display: flex;
  flex-direction: column;
}
.navbar-nav .navbar-nav-concept {
  display: flex;
  flex-direction: column;
}
.nav-textcolor {
  padding: 15px 0px;
  color: $white;
  font-size: $fontsize-s;
  &:hover {
    color: $white;
  }
  @media screen and (min-width: $breakpoint-lg) {
    padding: 27px 0px;
    transition: 0.2s ease;
    &:hover {
      color: $gray_nobel;
    }
  }
}
.navbar-place {
  display: block;
  align-items: right;
}
.concept-icon {
  display: block;
  right: 16px;
  background-image: url(../../../img/header-plus-icon.svg);
  //background-size: contain;
  background-repeat: no-repeat;
}
.header-concept {
  width: 220px; //これ必要？
  text-align: left;
  color: $white;
  background-color: $black;
  font-size: $fontsize-s;
  padding: 15px 0px;
  margin-left: 12px; //これがhoverの黒出てくる問題、paddingに組み込むべき
  &:hover {
    color: $white;
    background-color: $black;
  }
  @media screen and (min-width: $breakpoint-lg) {
    padding: 18px;
    transition: 0.2s ease;
    &:hover {
      background-color: $orange_bistre;
    }
  }
}
.dropdown-menu-back {
  background-color: $black;
  margin: 0px;
  padding: 0px;
}
//左寄せ
.navbar-concept {
  display: flex;
  flex-direction: column;
  padding-left: 0px;
  //justify-content: flex-start;
  & > .navbar-concept-top {
    display: flex;
    justify-content: space-between;
  }
  & > .navbar-concept-more {
    display: flex;
    justify-content: flex-start;
  }
}
#navbarNavDropdown {
  @media screen and (min-width: $breakpoint-md) {
    display: flex;
    justify-content: space-between;
  }
}

#navbarNavDropdownConcept {
  padding-left: 12px;
  padding: 0px;
}
.drop-down {
  display: flex;
  //align-items: center;
  justify-content: space-between;
  background-color: $black;
  color: $white;
  //padding: 0px 16px;
  border: 1px solid $black;
  & > .humberger-icon {
    background-color: $black;
    &:active {
      .dropdownmenu {
        color: $white;
        background-color: $black;
        padding: 15px 0px;
        text-align: left;

        //display: block;
        & > .dropdown-text {
          color: $white;
        }
      }
      & > .concept-ver {
        padding: 0px 12px;
      }
    }
  }
}
