<!-- <div class="dropdown">
    <head class="header-top">
        <a href="#"><img src="../../../img/header.png"></img></a>
        <span class="humberger-icon">
            <img src="../../../img/header-humberger-icon.png"></img>
        </span>
    </head>
    <ul class="dropdownmenu">
        <li><a href="#" class="dropdown-text">HOME</a></li>
        <li><a href="#" class="dropdown-text">CONCEPT</a></li>
        <li><a href="#" class="dropdown-text">SERVICE</a></li>
        <li><a href="#" class="dropdown-text">FLOOR</a></li>
        <li><a href="#" class="dropdown-text">INTERVIEW</a></li>
        <li><a href="#" class="dropdown-text">BLOG</a></li>
        <li><a href="#" class="dropdown-text">ACCESS</a></li>
        <li><a href="#" class="dropdown-text">DOWNLOAD</a></li>
    </ul>
</div> -->
<!-- data-targetとID -->
<nav class="navbar navbar-expand-lg navbar-style">
  <a class="navbar-brand" href="#"><img src="../../../img/header.png"></img></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="humberger-icon">
      <img src="../../../img/header-humberger-icon.png"></img>
  </span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link nav-textcolor" href="#">HOME</a>
      </li>
      <li class="nav-item active">
        <!-- <li class="nav-item dropdown navbar-concept"> -->
          <div class="navbar-concept-top">
          <a class="nav-link nav-textcolor" href="#">
            CONCEPT
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdownConcept" aria-controls="navbarNavDropdownConcept" aria-expanded="false" aria-label="Toggle navigation">
            <span class="header-plus-icon">
              <img src="../../../img/header-plus-icon.svg"></img>
          </span>
          </button>
        </div>
          <div class="collapse navbar-collapse collapse navbar-concept-more" id="navbarNavDropdownConcept">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link nav-textcolor" href="#">ブログアーカイブ</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link nav-textcolor" href="#">お知らせアーカイブ</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link nav-textcolor" href="#">イベントアーカイブ</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link nav-textcolor" href="#">インタビューアーカイブ</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link nav-textcolor" href="#">FAQページ</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link nav-textcolor" href="#">固定ページ(デフォルト)</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link nav-textcolor" href="#">CONCEPT</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link nav-textcolor" href="#">SERVICE</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link nav-textcolor" href="#">FLOOR</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link nav-textcolor" href="#">ACCESS</a>
            </li>
          </ul>
        </div>
        <!-- </li> -->
      </li>
      <li class="nav-item">
        <a class="nav-link nav-textcolor" href="#">SERVICE</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link nav-textcolor" href="#">FLOOR</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link nav-textcolor" href="#">INTERVIEW</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link nav-textcolor" href="#">BLOG</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link nav-textcolor" href="#">ACCESS</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link nav-textcolor" href="#">DOWNLOAD</a>
      </li>
    </ul>
  </div>
</nav>

<!-- <a class="navbar-brand" href="#">Navbar</a> -->
  <!-- navbar-style -->
  <!-- <nav class="navbar navbar-expand-lg">  -->
<nav class="navbar navbar-expand-lg navbar-back">
    <a class="navbar-brand" href="#"><img src="../../../img/header.png"></img></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="humberger-icon">
        <img src="../../../img/header-humberger-icon.png"></img>
    </span>
    </button>
  <div class="collapse navbar-collapse navbar-back" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link nav-textcolor" href="#">HOME <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown nav-textcolor">CONCEPT
        <a class="nav-link concept-icon" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <!-- dropdown-toggle -->
        </a>
        <div class="dropdown-menu dropdown-menu-original nav-textcolor navbar-back concept-dropdown" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item header-concept" href="#">ブログアーカイブ</a>
          <a class="dropdown-item header-concept" href="#">お知らせアーカイブ</a>
          <a class="dropdown-item header-concept" href="#">イベントアーカイブ</a>
          <a class="dropdown-item header-concept" href="#">インタビューアーカイブ</a>
          <a class="dropdown-item header-concept" href="#">FAQページ</a>
          <a class="dropdown-item header-concept" href="#">固定ページ(デフォルト)</a>
          <a class="dropdown-item header-concept" href="#">CONCEPT</a>
          <a class="dropdown-item header-concept" href="#">SERVICE</a>
          <a class="dropdown-item header-concept" href="#">FLOOR</a>
          <a class="dropdown-item header-concept" href="#">ACCESS</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-textcolor" href="#">SERVICE</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link nav-textcolor" href="#">FLOOR</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link nav-textcolor" href="#">INTERVIEW</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link nav-textcolor" href="#">BLOG</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link nav-textcolor" href="#">ACCESS</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link nav-textcolor" href="#">DOWNLOAD</a>
      </li>
    </ul>
  </div>
</nav>



<!-- <div class="menu">
  <label for="menu_bar01">アコーディオン１</label>
  <input type="checkbox" id="menu_bar01" />
  <ul id="links01">
      <li><a href="">Link01</a></li>
      <li><a href="">Link02</a></li>
      <li><a href="">Link03</a></li>
      <li><a href="">Link04</a></li>
  </ul>
  <label for="menu_bar02">アコーディオン２</label>
  <input type="checkbox" id="menu_bar02" />
  <ul id="links02">
      <li><a href="">Link01</a></li>
      <li><a href="">Link02</a></li>
      <li><a href="">Link03</a></li>
      <li><a href="">Link04</a></li>
  </ul>
</div> -->
<!-- <div class="dropdown">
  <button
    class="btn btn-default dropdown-toggle"
    type="button"
    id="dropdownMenu1"
    data-toggle="dropdown"
    aria-haspopup="true"
    aria-expanded="true"
  >
    Dropdown
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li><a href="#">Action</a></li>
    <li><a href="#">Another action</a></li>
    <li><a href="#">Something else here</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="#">Separated link</a></li>
  </ul>
</div> -->
<!-- input:active {
   /* 押されたとき */
   background-image: linear-gradient(180deg, #68d3db, #e5f4fc);
   border: 1px solid skyblue;
}で+-の変更ができるかも -->
