<div class="dropdown">
    <head class="header-top">
        <a href="#"><img src="../../../img/header.png"></img></a>
        <!-- buttonの範囲を狭めたい, hoverをみせないようにしたい -->
        <button class="humberger-icon">
            <img src="../../../img/header-humberger-icon.png"></img>
            <!-- <span class="visually-hidden"></span> -->
        </button>
    </head>
    <ul class="dropdown-menu">
        <li><a href="#" class="dropdown-text">HOME</a></li>
        <li><a href="#" class="dropdown-text">CONCEPT</a></li>
        <li><a href="#" class="dropdown-text">SERVICE</a></li>
        <li><a href="#" class="dropdown-text">FLOOR</a></li>
        <li><a href="#" class="dropdown-text">INTERVIEW</a></li>
        <li><a href="#" class="dropdown-text">BLOG</a></li>
        <li><a href="#" class="dropdown-text">ACCESS</a></li>
        <li><a href="#" class="dropdown-text">DOWNLOAD</a></li>
    </ul>
</div>
<div class="menu">
  <label for="menu_bar01">アコーディオン１</label>
  <input type="checkbox" id="menu_bar01" />
  <ul id="links01">
      <li><a href="">Link01</a></li>
      <li><a href="">Link02</a></li>
      <li><a href="">Link03</a></li>
      <li><a href="">Link04</a></li>
  </ul>
  <label for="menu_bar02">アコーディオン２</label>
  <input type="checkbox" id="menu_bar02" />
  <ul id="links02">
      <li><a href="">Link01</a></li>
      <li><a href="">Link02</a></li>
      <li><a href="">Link03</a></li>
      <li><a href="">Link04</a></li>
  </ul>
</div>
<!-- <div class="dropdown">
  <button
    class="btn btn-default dropdown-toggle"
    type="button"
    id="dropdownMenu1"
    data-toggle="dropdown"
    aria-haspopup="true"
    aria-expanded="true"
  >
    Dropdown
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li><a href="#">Action</a></li>
    <li><a href="#">Another action</a></li>
    <li><a href="#">Something else here</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="#">Separated link</a></li>
  </ul>
</div> -->
<!-- input:active {
   /* 押されたとき */
   background-image: linear-gradient(180deg, #68d3db, #e5f4fc);
   border: 1px solid skyblue;
}で+-の変更ができるかも -->
