<div class="news-kariwaku">
  <div class="news-and-events-title">
    <h2>News<span class="caption">お知らせ</span></h2>
  </div>
  <div class="news-body">
    <div class="each-news">
      <div class="news-date">date</div>
      <a class="news-text">記事テキスト</a>
    </div>
    <div class="each-news">
      <div class="news-date">date</div>
      <a class="news-text">記事テキスト</a>
    </div>
    <div class="each-news">
      <div class="news-date">date</div>
      <a class="news-text">記事テキスト</a>
    </div>
    <div class="each-news">
      <div class="news-date">date</div>
      <a class="news-text">記事テキスト</a>
    </div>
  </div>
  <a href="#" class="news-and-events-more"
    >お知らせ一覧<i class="fas fa-chevron-right"></i>
  </a>
</div>

<!-- 2018.06.20 -->
<!-- ブックカフェ・コワーキング系サイト向けテーマ「Swit... -->
<!-- 2018.06.18 -->
<!-- 3種のレイアウトから選択できるテンプレートを固定ペ... -->
<!-- 2018.06.12 -->
<!-- 利用者からのご質問をまとめた「FAQ」ページをアップ... -->
<!-- 2018.06.08 -->
<!-- デモ用のサンプルデータを表示する「インポート機能」... -->
<!-- 2018.06.02 -->
<!-- テーマのアップデート情報について -->
