@use "../../variables" as *;
.news {
  .news-body {
    padding-left: 0px; //liタグの右余白なくす
    border: 1px solid $gray_desertStorm;
    & > .each-news {
      padding: 20px;
      margin: 0px;
      background-color: $white;
      &:not(:first-child) {
        border-top: 1px solid $gray_desertStorm;
      }
      & > .news-date {
        color: $gray_nobel;
        font-size: $fontsize-xs;
      }
      & > .news-text {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap; //一行に収める
        color: $black;
        font-size: $fontsize-m;
        transition: 0.2s ease;
        //easeで変わる
        &:hover {
          color: $orange_bistre;
          text-decoration: none;
        }
      }
    }
  }
  .news-and-events-more {
    display: block;
    text-align: right;
    margin: 30px 0px 35px;
  }
}
//導入してくるパーツの、右寄せ、左寄せを調整と、実装結果確認
