@use "../../variables" as *;
.news {
  .news-body {
    border: 1px solid $gray_desertStorm;
    & > .each-news {
      padding: 20px;
      margin: 0px;
      background-color: $white;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      &:not(:first-child) {
        border-top: 1px solid $gray_desertStorm;
      }
      & > .news-date {
        color: $gray_nobel;
        font-size: $fontsize-xs;
      }
      & > .news-text {
        color: $black;
        font-size: $fontsize-m;
        transition: 0.2s ease;
        &:hover {
          color: $orange_bistre;
          text-decoration: none;
        }
      }
    }
  }

  & > .news-footer {
    margin: 30px 0px 35px;
    & > .news-and-events-more {
      display: block;
      text-align: right;
      margin-top: 0px;
    }
  }
}
