<div class="footer">
  <div class="contact">
    <a href="#" class="logo-wrapper">
        <img src="../../../img/footer.png"> </img>
    </a>
    <address class="text-wrap">
      〒532-0011　大阪市淀川区西中島6丁目8-23テスト<br />TEL.06-1234-5678
      FAX.06-1234-5678　営業時間 / 9:00 - 22:00　定休日 / 不定休
    </address>
    <div class="icon-container">
      <a href="#" class="icon-wrap">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="#" class="icon-wrap">
        <i class="fab fa-facebook"></i>
      </a>
      <a href="#" class="icon-wrap">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="#" class="icon-wrap">
        <i class="fas fa-rss"></i>
      </a>
    </div>
  </div>
  <nav class="footer-nav">
    <ul class="footer-wrapper">
      <li><a href="#" class="footer-each-content">HOME</a></li>
      <li><a href="#" class="footer-each-content">CONCEPT</a></li>
      <li><a href="#" class="footer-each-content">SERVICE</a></li>
      <li><a href="#" class="footer-each-content">FLOOR</a></li>
      <li><a href="#" class="footer-each-content">INTERVIEW</a></li>
      <li><a href="#" class="footer-each-content">BLOG</a></li>
      <li><a href="#" class="footer-each-content">ACCESS</a></li>
      <li><a href="#" class="footer-each-content disabled-line">DOWNLOAD</a></li>
    </ul>
  </nav>
  <small class="copyright">
      Copyright © WordPressテーマ「Switch(tcd063)」 All Rights Reserved.
  </small>
</div>
