@use "../../variables" as *;
.contact {
  text-align: center;
  padding: 32px;
  @media screen and (min-width: $breakpoint-md) {
    padding: 52px;
  }
  //logoでかすぎ
  .logo-wrapper {
    text-align: center;
    margin-bottom: 20px;
  }
  .footer-more {
    align-self: flex-end;
    cursor: pointer;
    color: $black;
    text-decoration: none;
    font-size: $fontsize-s;
    transition: color 0.2s ease;
    display: inline-flex;
    align-items: center;
    @media screen and (min-width: $breakpoint-md) {
      &:hover {
        color: $gray_nobel;
      }
    }
  }
  .fa-rotate-45 {
    transform: rotate(45deg);
  }
}

.text-wrap {
  font-size: $fontsize-s;
  margin-bottom: 20px;
}
//breakpointの書き方を統一すべき, ul同士の間にgap:8pxが欲しい
.molecules-footer {
  display: flex;
  justify-content: center;
  @media screen and (max-width: $breakpoint-md) {
    justify-content: flex-start;
    align-items: flex-start;
  }
  padding: 16px;
  @media screen and (max-width: $breakpoint-md) {
    padding-bottom: 8px;
  }
  background-color: $white_smoke;
  font-size: $fontsize-s;
  border-top: 1px solid $gray_nobel;
  .footer-column {
    display: flex;
    padding: 0px;
    margin-bottom: 0px;
    @media screen and (max-width: $breakpoint-md) {
      flex-direction: column;
      width: 50%;
    }
    & > li {
      list-style: none;
    }
    .footer-each-content {
      display: block;
      @media screen and (max-width: $breakpoint-md) {
        justify-content: flex-start;
        padding-bottom: 8px;
      }
      text-decoration: none;
      color: $black;
      transition: color 0.2s ease;
      @media screen and (min-width: $breakpoint-md) {
        &::after {
          //最後の子要素には｜付けたくない
          //&:not(:last-child) {
          content: "|";
          padding-right: 8px;
          padding-left: 8px;
          font-size: $fontsize-s;
          //}
        }
        &:hover {
          color: $orange_bistre;
        }
      }
    }
  }
}
.copyright-wrapper {
  text-align: center;
  background-color: $black;
  color: $white;
  font-size: $fontsize-xs;
  line-height: 12px;
  padding: 16px;
}
