<div class="footer">
  <div class="contact">
    <div class="logo-wrapper">
        <img src="../../../img/footer.png"> </img>
    </div>
    <div class="text-wrap">
      〒532-0011　大阪市淀川区西中島6丁目8-23テスト<br />TEL.06-1234-5678
      FAX.06-1234-5678　営業時間 / 9:00 - 22:00　定休日 / 不定休
    </div>
    <div class="icon-list">
      <!-- instagramが表示されない-->
      <a href="#" class="footer-more">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="#" class="footer-more">
        <i class="fab fa-facebook"></i>
      </a>
      <a href="#" class="footer-more">
        <i class="fa fa-instargram" area-hidden="true"></i>
      </a>
      <a href="#" class="footer-more">
        <i class="fas fa-wifi fa-rotate-45"></i>
      </a>
    </div>
    <div class="molecules-footer">
        <ul class="footer-column">
            <li><a href="#" class="footer-each-content">HOME</a></li>
            <li><a href="#" class="footer-each-content">CONCEPT</a></li>
            <li><a href="#" class="footer-each-content">SERVICE</a></li>
            <li><a href="#" class="footer-each-content footer-each-content-last">FLOOR</a></li>
        </ul>
        <ul class="footer-column">
            <li><a href="#" class="footer-each-content">INTERVIEW</a></li>
            <li><a href="#" class="footer-each-content">BLOG</a></li>
            <li><a href="#" class="footer-each-content">ACCESS</a></li>
            <li><a href="#" class="footer-each-content footer-each-content-last"></a>DOWNLOAD</li>
        </ul>
    </div>
    <div class="copyright-wrapper">
      Copyright © WordPressテーマ「Switch(tcd063)」 All Rights Reserved.
    </div>
  </div>
</div>
