@use "../../variables"as*;
//top,left等の位置設定どうするのか
//display: flexはどこまで適応？
//flex-direction→justify-content→align-itemsの順
.message{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 52px 20px;
    @media screen and (max-width:$breakpoint-md) {
        display:flex;
        width:185px;
        height:88px;
        padding: 32px 20px;
    }
}
.h1{
    padding: 0px 0px 10px 0px;
    justify-content: space-between;
    font-size:$fontsize-xl;
    color:$black;
    font-family:$fontfamily-mincho;
    @media screen and (max-width:$breakpoint-md) {
        /*display: flex;
        width: 160px;
        height: 40px;*/
        font-size:$fontsize-m;
        padding: 0px 0px 6px 0px;
    }
}
.h2{
    justify-content: space-between;
    font-size: $fontsize-m;
    color:$black;
    font-family:$fontfamily-gothic;
    @media screen and (max-width:$breakpoint-md) {
        font-size:$fontsize-xs;
        /*padding: 0px 0px 6px 0px;*/
    }
}