@use "../../variables" as *;
.message {
  text-align: center;
  padding: 52px 20px;
  @media screen and (max-width: $breakpoint-md) {
    padding: 32px 20px;
  }
  & > h2 {
    font-size: $fontsize-xl;
    color: $black;
    font-family: $fontfamily-mincho;
    margin-bottom: 10px;
    line-height: 54px;
    @media screen and (max-width: $breakpoint-md) {
      font-size: $fontsize-l;
      margin-bottom: 6px;
      line-height: 36px;
    }
  }
  & > p {
    font-size: $fontsize-s;
    color: $black;
    font-family: $fontfamily-gothic;
    line-height: 30px;
    @media screen and (max-width: $breakpoint-md) {
      line-height: 28px;
    }
  }
}

//top,left等の位置設定どうするのか
//display: flexはどこまで適応？
//flex-direction→justify-content→align-itemsの順
