/*フォントの情報ある？*/
@use "../../variables"as*;
/*
.auto-layout{
    
    padding:0px 16px;
}   */
//buttonは3段階になる、汎用性から考えるとmを基準にしてs,lに飛ぶようにすればよさげ
.button{
    display:flex;
    //flex-direction→justify-content→align-itemsの順
    flex-direction:row;
    justify-content: center;
    align-items:center; 
    width: 200px;
    height: 55px;
    background-color:$black;
    color:$white;
    @media screen and(max-width:$breakpoint-sm){
        width: 180px;
        height: 45px;
    };
    @media screen and(max-width:$breakpoint-md){
        width: 150px;
        height: 55px;
    };
//&が親要素を指す
    &:hover{
        color:white;
        background-color:$orange_bistre;
        transition: background-color 0.2s;
        text-decoration: none;
    }
}