@use "../../variables" as *;
.about {
  & > .about-img {
    display: flex;
    flex-wrap: wrap;
    & > .about-img-each {
      width: 50%;
      @media screen and (min-width: $breakpoint-md) {
        width: 25%;
      }
    }
  }
  & > .message {
    background-color: $white_smoke;
    & > h2 {
      color: $orange_bistre;
    }
  }
}
