@use "../../variables" as *;
.about {
  & > .about-img {
    display: flex;
    @media screen and (max-width: $breakpoint-md) {
      flex-wrap: wrap;
    }
    & > .about-img-each {
      width: 25%;
      @media screen and (max-width: $breakpoint-md) {
        width: 50%;
      }
    }
  }
  & > .message {
    background-color: $white_smoke;
    & > h2 {
      color: $orange_bistre;
      line-height: 54px;
      @media screen and (max-width: $breakpoint-md) {
        margin-bottom: 6px;
        line-height: 30px;
      }
    }
    & > p {
      margin-bottom: 0px;
      line-height: 36px;
      @media screen and (max-width: $breakpoint-md) {
        line-height: 24px;
      }
    }
  }
}
//message部
/*確認①　Molecules-Messageと比較→文字の切り返しは自動、mdとlgで文字の大きさ・line-height, padding, タイトルのmargin-bottomが違う
*/

//1×4
/*display: flex;
  //position: relative;
  justify-content: space-between;
  max-width: 100%;
  height: auto;
  overflow: hidden;*/
/*object-fit: cover;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;*/
