<div class="news-and-eventsr row row-cols-md-2">
  <div class="container">
    <section class="news col">
      <div class="news-and-events-title">
        <h2>News<span class="caption">お知らせ</span></h2>
      </div>
      <div class="news-body">
        <article class="each-news">
          <time class="news-date">2018.06.20</time>
          <a href="#" class="news-text">
            ブックカフェ・コワーキング系サイト向けテーマ「Switch」をリリースしました!
          </a>
        </article>
        <article class="each-news">
          <time class="news-date">2018.06.18</time>
          <a href="#" class="news-text">
            3種のレイアウトから選択できるテンプレートを固定ページに実装
          </a>
        </article>
        <article class="each-news">
          <time class="news-date">2018.06.12</time>
          <a href="#" class="news-text">
            利用者からのご質問をまとめた「FAQ」ページをアップしました。
          </a>
        </article>
        <article class="each-news">
          <time class="news-date">2018.06.08</time>
          <a href="#" class="news-text">
            デモ用のサンプルデータを表示する「インポート機能」でサイト構築をよりスピーディに
          </a>
        </article>
        <article class="each-news">
          <time class="news-date">2018.06.02</time>
          <a href="#" class="news-text"> テーマのアップデート情報について </a>
        </article>
      </div>
      <div class="news-footer">
        <a href="#" class="news-and-events-more">
          お知らせ一覧<i class="fas fa-chevron-right"></i>
        </a>
      </div>
    </section>
    <div class="events col">
      <div class="news-and-events-title">
        <h2>Events<span class="caption">イベント</span></h2>
      </div>
      <div class="event-list">
        <article class="event-card">
          <a href="#">
            <div class="event-thumbnail">
              <img src="../../../img/events-1.jpg" />
            </div>
            <div class="event-caption">
              <h3>全ての業種に対応した起業応援セミナーを開催します。</h3>
              <div class="posted-at">
                <time datetime="2018-8-23">2018.08.23</time>
              </div>
            </div>
          </a>
        </article>
        <article class="event-card">
          <a href="#">
            <div class="event-thumbnail">
              <img src="../../../img/events-2.jpg" />
            </div>
            <div class="event-caption">
              <h3>第3回　Switchクリエイター交流会開催いたします！</h3>
              <div class="posted-at">
                <time datetime="2018-8-23">2018.08.23</time>
              </div>
            </div>
          </a>
        </article>
        <article class="event-card">
          <a href="#">
            <div class="event-thumbnail">
              <img src="../../../img/events-3.jpg" />
            </div>
            <div class="event-caption">
              <h3>
                Webビジネス初心者の方必見！Webサイト作成講座を3回にわたって開催します。
              </h3>
              <div class="posted-at">
                <time datetime="2018-8-23">2018.08.23</time>
              </div>
            </div>
          </a>
        </article>
      </div>
      <a href="#" class="news-and-events-more"
        >イベント一覧<i class="fas fa-chevron-right"></i
      ></a>
    </div>
  </div>
</div>
