@use "../../variables" as *;
.news-and-events {
  padding: 56px 0px 94px;
  background-color: $white_smoke;
  .row {
    margin-right: auto;
    margin-left: auto;
  }
  section {
    margin-bottom: 0px;
  }
  .news-and-events-more {
    margin-top: 0px;
  }
}
