@use "../../variables" as *;
.news-and-events {
  padding: 56px 35px;
  margin: 0px 0px 100px;
  background-color: $white_smoke;
  section {
    margin-bottom: 0px;
  }
  col {
    padding: 0px;
  }
  .news-and-events-more {
    margin-top: 0px;
  }
}
